In [29]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import requests

#parsing the seas with areas
seas_list = []

driver_path = 'C:/Users/liman/Desktop/chromedriver_win32/chromedriver.exe'
options = webdriver.ChromeOptions()
options.add_argument('--headless')
driver = webdriver.Chrome(driver_path, options=options)

url = "https://en.wikipedia.org/wiki/List_of_seas"
driver.get(url)
driver.implicitly_wait(1)
soup = BeautifulSoup(driver.page_source, 'html.parser')

seas_div = soup.find('div', class_='div-col')  # select the div with the seas data
seas_ol = seas_div.find('ol')  # select the ol inside the div
seas_items = seas_ol.find_all('li')  # select all the li elements inside the ol

for item in seas_items:
    seas_dict = {}
    sea_name = item.find('a').text
    sea_link = item.find('a')['href']
    sea_area = item.find('sup').previous_sibling.strip().replace(',', '')  # extract the area from the text and clean it up
        
    seas_dict["name"] = sea_name
    seas_dict["link"] = sea_link
    seas_dict["area"] = sea_area
    
    seas_list.append(seas_dict)

print(seas_list)

driver.quit()

C:\Users\liman\AppData\Local\Temp\ipykernel_6536\2426268770.py:12: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver_path, options=options)

[{'name': 'Philippine Sea', 'link': '/wiki/Philippine_Sea', 'area': '– 5.695 million km'}, {'name': 'Coral Sea', 'link': '/wiki/Coral_Sea', 'area': '– 4.791 million km'}, {'name': 'American Mediterranean Sea', 'link': '/wiki/American_Mediterranean_Sea', 'area': '– 4.200 million km'}, {'name': 'Arabian Sea', 'link': '/wiki/Arabian_Sea', 'area': '– 3.862 million km'}, {'name': 'Sargasso Sea', 'link': '/wiki/Sargasso_Sea', 'area': '– 3.5 million km'}, {'name': 'South China Sea', 'link': '/wiki/South_China_Sea', 'area': '– 3.5 million km'}, {'name': 'Weddell Sea', 'link': '/wiki/Weddell_Sea', 'area': '– 2.8 million km'}, {'name': 'Caribbean Sea', 'link': '/wiki/Caribbean_Sea', 'area': '– 2.754 million km'}, {'name': 'Mediterranean Sea', 'link': '/wiki/Mediterranean_Sea', 'area': '– 2.510 million km'}, {'name': 'Gulf of Guinea', 'link': '/wiki/Gulf_of_Guinea', 'area': '– 2.35 million km'}, {'name': 'Tasman Sea', 'link': '/wiki/Tasman_Sea', 'area': '– 2.3 million km'}, {'name': 'Bay of Bengal', 'link': '/wiki/Bay_of_Bengal', 'area': '– 2.172 million km'}, {'name': 'Bering Sea', 'link': '/wiki/Bering_Sea', 'area': '– 2 million km'}, {'name': 'Sea of Okhotsk', 'link': '/wiki/Sea_of_Okhotsk', 'area': '– 1.583 million km'}, {'name': 'Gulf of Mexico', 'link': '/wiki/Gulf_of_Mexico', 'area': '– 1.550 million km'}, {'name': 'Gulf of Alaska', 'link': '/wiki/Gulf_of_Alaska', 'area': '– 1.533 million km'}, {'name': 'Barents Sea', 'link': '/wiki/Barents_Sea', 'area': '– 1.4 million km'}, {'name': 'Norwegian Sea', 'link': '/wiki/Norwegian_Sea', 'area': '– 1.383 million km'}, {'name': 'East China Sea', 'link': '/wiki/East_China_Sea', 'area': '– 1.249 million km'}, {'name': 'Hudson Bay', 'link': '/wiki/Hudson_Bay', 'area': '– 1.23 million km'}, {'name': 'Greenland Sea', 'link': '/wiki/Greenland_Sea', 'area': '– 1.205 million km'}, {'name': 'Somov Sea', 'link': '/wiki/Somov_Sea', 'area': '– 1.15 million km'}, {'name': 'Mar de Grau', 'link': '/wiki/Mar_de_Grau', 'area': '– 1.14 million km'}, {'name': 'Riiser-Larsen Sea', 'link': '/wiki/Riiser-Larsen_Sea', 'area': '– 1.138 million km'}, {'name': 'Sea of Japan', 'link': '/wiki/Sea_of_Japan', 'area': '– 1.05 million km'}, {'name': 'Argentine Sea', 'link': '/wiki/Argentine_Sea', 'area': '– 1 million km'}, {'name': 'East Siberian Sea', 'link': '/wiki/East_Siberian_Sea', 'area': '– 987000\xa0km'}, {'name': 'Lazarev Sea', 'link': '/wiki/Lazarev_Sea', 'area': '– 929000\xa0km'}, {'name': 'Kara Sea', 'link': '/wiki/Kara_Sea', 'area': '– 926000\xa0km'}, {'name': 'Scotia Sea', 'link': '/wiki/Scotia_Sea', 'area': '– 900000\xa0km'}, {'name': 'Labrador Sea', 'link': '/wiki/Labrador_Sea', 'area': '– 841000\xa0km'}, {'name': 'Andaman Sea', 'link': '/wiki/Andaman_Sea', 'area': '– 797700\xa0km'}, {'name': 'Laccadive Sea', 'link': '/wiki/Laccadive_Sea', 'area': '– 786000\xa0km'}, {'name': 'Irminger Sea', 'link': '/wiki/Irminger_Sea', 'area': '– 780000\xa0km'}, {'name': 'Solomon Sea', 'link': '/wiki/Solomon_Sea', 'area': '– 720000\xa0km'}, {'name': 'Mozambique Channel', 'link': '/wiki/Mozambique_Channel', 'area': '– 700000\xa0km'}, {'name': 'Cosmonauts Sea', 'link': '/wiki/Cosmonauts_Sea', 'area': '– 699000\xa0km'}, {'name': 'Banda Sea', 'link': '/wiki/Banda_Sea', 'area': '– 695000\xa0km'}, {'name': 'Baffin Bay', 'link': '/wiki/Baffin_Bay', 'area': '– 689000\xa0km'}, {'name': 'Laptev Sea', 'link': '/wiki/Laptev_Sea', 'area': '– 662000\xa0km'}, {'name': 'Arafura Sea', 'link': '/wiki/Arafura_Sea', 'area': '– 650000\xa0km'}, {'name': 'Ross Sea', 'link': '/wiki/Ross_Sea', 'area': '– 637000\xa0km'}, {'name': 'Chukchi Sea', 'link': '/wiki/Chukchi_Sea', 'area': '– 620000\xa0km'}, {'name': 'Timor Sea', 'link': '/wiki/Timor_Sea', 'area': '– 610000\xa0km'}, {'name': 'North Sea', 'link': '/wiki/North_Sea', 'area': '– 575000\xa0km'}, {'name': 'Bellingshausen Sea', 'link': '/wiki/Bellingshausen_Sea', 'area': '– 487000\xa0km'}, {'name': 'Beaufort Sea', 'link': '/wiki/Beaufort_Sea', 'area': '– 476000\xa0km'}, {'name': 'Red Sea', 'link': '/wiki/Red_Sea', 'area': '– 438000\xa0km'}, {'name': 'Black Sea', 'link': '/wiki/Black_Sea', 'area': '– 436000\xa0km'}, {'name': 'Gulf of Aden', 'link': '/wiki/Gulf_of_Aden', 'area': '– 410000\xa0km'}, {'name': 'Yellow Sea', 'link': '/wiki/Yellow_Sea', 'area': '– 380000\xa0km'}, {'name': 'Baltic Sea', 'link': '/wiki/Baltic_Sea', 'area': '– 377000\xa0km'}, {'name': 'Caspian Sea', 'link': '/wiki/Caspian_Sea', 'area': '– 371000\xa0km'}, {'name': 'Libyan Sea', 'link': '/wiki/Libyan_Sea', 'area': '– 350000\xa0km'}, {'name': 'Mawson Sea', 'link': '/wiki/Mawson_Sea', 'area': '– 333000\xa0km'}, {'name': 'Levantine Sea', 'link': '/wiki/Levantine_Sea', 'area': '– 320000\xa0km'}, {'name': 'Java Sea', 'link': '/wiki/Java_Sea', 'area': '– 320000\xa0km'}, {'name': 'Gulf of Thailand', 'link': '/wiki/Gulf_of_Thailand', 'area': '– 320000\xa0km'}, {'name': 'Celtic Sea', 'link': '/wiki/Celtic_Sea', 'area': '– 300000\xa0km'}, {'name': 'Gulf of Carpentaria', 'link': '/wiki/Gulf_of_Carpentaria', 'area': '– 300000\xa0km'}, {'name': 'Celebes Sea', 'link': '/wiki/Celebes_Sea', 'area': '– 280000\xa0km'}, {'name': 'Tyrrhenian Sea', 'link': '/wiki/Tyrrhenian_Sea', 'area': '– 275000\xa0km'}, {'name': 'Sulu Sea', 'link': '/wiki/Sulu_Sea', 'area': '– 260000\xa0km'}, {'name': 'Cooperation Sea', 'link': '/wiki/Cooperation_Sea', 'area': '– 258000\xa0km'}, {'name': 'Persian Gulf', 'link': '/wiki/Persian_Gulf', 'area': '– 251000\xa0km'}, {'name': 'Flores Sea', 'link': '/wiki/Flores_Sea', 'area': '– 240000\xa0km'}, {'name': 'Gulf of Saint Lawrence', 'link': '/wiki/Gulf_of_Saint_Lawrence', 'area': '– 226000\xa0km'}, {'name': 'Bay of Biscay', 'link': '/wiki/Bay_of_Biscay', 'area': '– 223000\xa0km'}, {'name': 'Aegean Sea', 'link': '/wiki/Aegean_Sea', 'area': '– 214000\xa0km'}, {'name': 'Gulf of Anadyr', 'link': '/wiki/Gulf_of_Anadyr', 'area': '– 200000\xa0km'}, {'name': 'Molucca Sea', 'link': '/wiki/Molucca_Sea', 'area': '– 200000\xa0km'}, {'name': 'Oman Sea', 'link': '/wiki/Oman_Sea', 'area': '– 181000\xa0km'}, {'name': 'Ionian Sea', 'link': '/wiki/Ionian_Sea', 'area': '– 169000\xa0km'}, {'name': 'Gulf of California', 'link': '/wiki/Gulf_of_California', 'area': '– 160000\xa0km'}, {'name': 'Balearic Sea', 'link': '/wiki/Balearic_Sea', 'area': '– 150000\xa0km'}, {'name': 'Adriatic Sea', 'link': '/wiki/Adriatic_Sea', 'area': '– 138000\xa0km'}]

In [30]:
df = pd.DataFrame(seas_list)
df

,name,link,area
0,Philippine Sea,/wiki/Philippine_Sea,– 5.695 million km
1,Coral Sea,/wiki/Coral_Sea,– 4.791 million km
2,American Mediterranean Sea,/wiki/American_Mediterranean_Sea,– 4.200 million km
3,Arabian Sea,/wiki/Arabian_Sea,– 3.862 million km
4,Sargasso Sea,/wiki/Sargasso_Sea,– 3.5 million km
...,...,...,...
71,Oman Sea,/wiki/Oman_Sea,– 181000 km
72,Ionian Sea,/wiki/Ionian_Sea,– 169000 km
73,Gulf of California,/wiki/Gulf_of_California,– 160000 km
74,Balearic Sea,/wiki/Balearic_Sea,– 150000 km
75,Adriatic Sea,/wiki/Adriatic_Sea,– 138000 km

In [25]:
df.to_excel('largest seas.xlsx', index=False)

In [55]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import requests
import json

#parsing the Largest seas with areas
seas_list = []

driver_path = 'C:/Users/liman/Desktop/chromedriver_win32/chromedriver.exe'
options = webdriver.ChromeOptions()
options.add_argument('--headless')
driver = webdriver.Chrome(driver_path, options=options)

url = "https://en.wikipedia.org/wiki/List_of_seas"
driver.get(url)
driver.implicitly_wait(1)
soup = BeautifulSoup(driver.page_source, 'html.parser')

seas_div = soup.find('div', class_='div-col')  # select the div with the seas data
seas_ol = seas_div.find('ol')  # select the ol inside the div
seas_items = seas_ol.find_all('li')  # select all the li elements inside the ol

for item in seas_items:
    seas_dict = {}
    sea_name = item.find('a').text
    sea_link = item.find('a')['href']
    sea_area = item.find('sup').previous_sibling.strip().replace(',', '')  # extract the area from the text and clean it up
        
    seas_dict["name"] = sea_name
    seas_dict["link"] = sea_link
    seas_dict["area"] = sea_area
    
#     seas_list.append(seas_dict)
    
    url_2 = "https://en.wikipedia.org" + sea_link
    driver.get(url_2)
    driver.implicitly_wait(1)
    soup_2 = BeautifulSoup(driver.page_source, 'html.parser')
    try: 
        latitude = soup_2.find('span', {'class': 'latitude'}).text
        longitude = soup_2.find('span', {'class': 'longitude'}).text
    except AttributeError:
        latitude = "Not found"
        longitude = "Not found"
        
    seas_dict["latitude"] = latitude
    seas_dict["longitude"] = longitude
    
  
        
    seas_list.append(seas_dict)
    
    
# 
print(seas_list)

driver.quit()

C:\Users\liman\AppData\Local\Temp\ipykernel_6536\987129801.py:13: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver_path, options=options)

[{'name': 'Philippine Sea', 'link': '/wiki/Philippine_Sea', 'area': '– 5.695 million km', 'latitude': '20°N', 'longitude': '130°E'}, {'name': 'Coral Sea', 'link': '/wiki/Coral_Sea', 'area': '– 4.791 million km', 'latitude': '18°S', 'longitude': '158°E'}, {'name': 'American Mediterranean Sea', 'link': '/wiki/American_Mediterranean_Sea', 'area': '– 4.200 million km', 'latitude': '18°N', 'longitude': '80°W'}, {'name': 'Arabian Sea', 'link': '/wiki/Arabian_Sea', 'area': '– 3.862 million km', 'latitude': '14°N', 'longitude': '65°E'}, {'name': 'Sargasso Sea', 'link': '/wiki/Sargasso_Sea', 'area': '– 3.5 million km', 'latitude': '28°N', 'longitude': '66°W'}, {'name': 'South China Sea', 'link': '/wiki/South_China_Sea', 'area': '– 3.5 million km', 'latitude': '12°N', 'longitude': '113°E'}, {'name': 'Weddell Sea', 'link': '/wiki/Weddell_Sea', 'area': '– 2.8 million km', 'latitude': '73°S', 'longitude': '45°W'}, {'name': 'Caribbean Sea', 'link': '/wiki/Caribbean_Sea', 'area': '– 2.754 million km', 'latitude': '15°N', 'longitude': '75°W'}, {'name': 'Mediterranean Sea', 'link': '/wiki/Mediterranean_Sea', 'area': '– 2.510 million km', 'latitude': '35°N', 'longitude': '18°E'}, {'name': 'Gulf of Guinea', 'link': '/wiki/Gulf_of_Guinea', 'area': '– 2.35 million km', 'latitude': '0°0′N', 'longitude': '0°0′E'}, {'name': 'Tasman Sea', 'link': '/wiki/Tasman_Sea', 'area': '– 2.3 million km', 'latitude': '40°S', 'longitude': '160°E'}, {'name': 'Bay of Bengal', 'link': '/wiki/Bay_of_Bengal', 'area': '– 2.172 million km', 'latitude': '15°N', 'longitude': '88°E'}, {'name': 'Bering Sea', 'link': '/wiki/Bering_Sea', 'area': '– 2 million km', 'latitude': '58°0′N', 'longitude': '178°0′W'}, {'name': 'Sea of Okhotsk', 'link': '/wiki/Sea_of_Okhotsk', 'area': '– 1.583 million km', 'latitude': '55°N', 'longitude': '150°E'}, {'name': 'Gulf of Mexico', 'link': '/wiki/Gulf_of_Mexico', 'area': '– 1.550 million km', 'latitude': '25°N', 'longitude': '90°W'}, {'name': 'Gulf of Alaska', 'link': '/wiki/Gulf_of_Alaska', 'area': '– 1.533 million km', 'latitude': '57°N', 'longitude': '144°W'}, {'name': 'Barents Sea', 'link': '/wiki/Barents_Sea', 'area': '– 1.4 million km', 'latitude': '75°N', 'longitude': '40°E'}, {'name': 'Norwegian Sea', 'link': '/wiki/Norwegian_Sea', 'area': '– 1.383 million km', 'latitude': '69°N', 'longitude': '2°E'}, {'name': 'East China Sea', 'link': '/wiki/East_China_Sea', 'area': '– 1.249 million km', 'latitude': '30°N', 'longitude': '125°E'}, {'name': 'Hudson Bay', 'link': '/wiki/Hudson_Bay', 'area': '– 1.23 million km', 'latitude': '60°N', 'longitude': '86°W'}, {'name': 'Greenland Sea', 'link': '/wiki/Greenland_Sea', 'area': '– 1.205 million km', 'latitude': '76°N', 'longitude': '8°W'}, {'name': 'Somov Sea', 'link': '/wiki/Somov_Sea', 'area': '– 1.15 million km', 'latitude': '67°00′S', 'longitude': '160°00′E'}, {'name': 'Mar de Grau', 'link': '/wiki/Mar_de_Grau', 'area': '– 1.14 million km', 'latitude': 'Not found', 'longitude': 'Not found'}, {'name': 'Riiser-Larsen Sea', 'link': '/wiki/Riiser-Larsen_Sea', 'area': '– 1.138 million km', 'latitude': '68°00′S', 'longitude': '22°00′E'}, {'name': 'Sea of Japan', 'link': '/wiki/Sea_of_Japan', 'area': '– 1.05 million km', 'latitude': '40°N', 'longitude': '135°E'}, {'name': 'Argentine Sea', 'link': '/wiki/Argentine_Sea', 'area': '– 1 million km', 'latitude': '46°S', 'longitude': '63°W'}, {'name': 'East Siberian Sea', 'link': '/wiki/East_Siberian_Sea', 'area': '– 987000\xa0km', 'latitude': '72°N', 'longitude': '163°E'}, {'name': 'Lazarev Sea', 'link': '/wiki/Lazarev_Sea', 'area': '– 929000\xa0km', 'latitude': '68°00′S', 'longitude': '7°00′E'}, {'name': 'Kara Sea', 'link': '/wiki/Kara_Sea', 'area': '– 926000\xa0km', 'latitude': '77°N', 'longitude': '77°E'}, {'name': 'Scotia Sea', 'link': '/wiki/Scotia_Sea', 'area': '– 900000\xa0km', 'latitude': '57°30′S', 'longitude': '40°00′W'}, {'name': 'Labrador Sea', 'link': '/wiki/Labrador_Sea', 'area': '– 841000\xa0km', 'latitude': '61°N', 'longitude': '56°W'}, {'name': 'Andaman Sea', 'link': '/wiki/Andaman_Sea', 'area': '– 797700\xa0km', 'latitude': '10°N', 'longitude': '96°E'}, {'name': 'Laccadive Sea', 'link': '/wiki/Laccadive_Sea', 'area': '– 786000\xa0km', 'latitude': '08°N', 'longitude': '75°E'}, {'name': 'Irminger Sea', 'link': '/wiki/Irminger_Sea', 'area': '– 780000\xa0km', 'latitude': '62°N', 'longitude': '35°W'}, {'name': 'Solomon Sea', 'link': '/wiki/Solomon_Sea', 'area': '– 720000\xa0km', 'latitude': '8°S', 'longitude': '154°E'}, {'name': 'Mozambique Channel', 'link': '/wiki/Mozambique_Channel', 'area': '– 700000\xa0km', 'latitude': '18°S', 'longitude': '41°E'}, {'name': 'Cosmonauts Sea', 'link': '/wiki/Cosmonauts_Sea', 'area': '– 699000\xa0km', 'latitude': '65°00′S', 'longitude': '45°00′E'}, {'name': 'Banda Sea', 'link': '/wiki/Banda_Sea', 'area': '– 695000\xa0km', 'latitude': '6°S', 'longitude': '127°E'}, {'name': 'Baffin Bay', 'link': '/wiki/Baffin_Bay', 'area': '– 689000\xa0km', 'latitude': '74°N', 'longitude': '68°W'}, {'name': 'Laptev Sea', 'link': '/wiki/Laptev_Sea', 'area': '– 662000\xa0km', 'latitude': '76°16′7″N', 'longitude': '125°38′23″E'}, {'name': 'Arafura Sea', 'link': '/wiki/Arafura_Sea', 'area': '– 650000\xa0km', 'latitude': '9°00′S', 'longitude': '133°0′E'}, {'name': 'Ross Sea', 'link': '/wiki/Ross_Sea', 'area': '– 637000\xa0km', 'latitude': '75°S', 'longitude': '175°W'}, {'name': 'Chukchi Sea', 'link': '/wiki/Chukchi_Sea', 'area': '– 620000\xa0km', 'latitude': '69°N', 'longitude': '172°W'}, {'name': 'Timor Sea', 'link': '/wiki/Timor_Sea', 'area': '– 610000\xa0km', 'latitude': '10°S', 'longitude': '127°E'}, {'name': 'North Sea', 'link': '/wiki/North_Sea', 'area': '– 575000\xa0km', 'latitude': '56°N', 'longitude': '3°E'}, {'name': 'Bellingshausen Sea', 'link': '/wiki/Bellingshausen_Sea', 'area': '– 487000\xa0km', 'latitude': '71°S', 'longitude': '85°W'}, {'name': 'Beaufort Sea', 'link': '/wiki/Beaufort_Sea', 'area': '– 476000\xa0km', 'latitude': '72°N', 'longitude': '137°W'}, {'name': 'Red Sea', 'link': '/wiki/Red_Sea', 'area': '– 438000\xa0km', 'latitude': '22°N', 'longitude': '38°E'}, {'name': 'Black Sea', 'link': '/wiki/Black_Sea', 'area': '– 436000\xa0km', 'latitude': '44°N', 'longitude': '35°E'}, {'name': 'Gulf of Aden', 'link': '/wiki/Gulf_of_Aden', 'area': '– 410000\xa0km', 'latitude': '12°N', 'longitude': '48°E'}, {'name': 'Yellow Sea', 'link': '/wiki/Yellow_Sea', 'area': '– 380000\xa0km', 'latitude': '38°0′N', 'longitude': '123°0′E'}, {'name': 'Baltic Sea', 'link': '/wiki/Baltic_Sea', 'area': '– 377000\xa0km', 'latitude': '58°N', 'longitude': '20°E'}, {'name': 'Caspian Sea', 'link': '/wiki/Caspian_Sea', 'area': '– 371000\xa0km', 'latitude': '42°00′N', 'longitude': '50°30′E'}, {'name': 'Libyan Sea', 'link': '/wiki/Libyan_Sea', 'area': '– 350000\xa0km', 'latitude': '34°00′N', 'longitude': '24°24′E'}, {'name': 'Mawson Sea', 'link': '/wiki/Mawson_Sea', 'area': '– 333000\xa0km', 'latitude': '65°00′S', 'longitude': '105°00′E'}, {'name': 'Levantine Sea', 'link': '/wiki/Levantine_Sea', 'area': '– 320000\xa0km', 'latitude': '34°N', 'longitude': '34°E'}, {'name': 'Java Sea', 'link': '/wiki/Java_Sea', 'area': '– 320000\xa0km', 'latitude': '5°S', 'longitude': '110°E'}, {'name': 'Gulf of Thailand', 'link': '/wiki/Gulf_of_Thailand', 'area': '– 320000\xa0km', 'latitude': '09°30′N', 'longitude': '102°00′E'}, {'name': 'Celtic Sea', 'link': '/wiki/Celtic_Sea', 'area': '– 300000\xa0km', 'latitude': '50°N', 'longitude': '8°W'}, {'name': 'Gulf of Carpentaria', 'link': '/wiki/Gulf_of_Carpentaria', 'area': '– 300000\xa0km', 'latitude': '14°S', 'longitude': '139°E'}, {'name': 'Celebes Sea', 'link': '/wiki/Celebes_Sea', 'area': '– 280000\xa0km', 'latitude': '3°N', 'longitude': '122°E'}, {'name': 'Tyrrhenian Sea', 'link': '/wiki/Tyrrhenian_Sea', 'area': '– 275000\xa0km', 'latitude': '40°N', 'longitude': '12°E'}, {'name': 'Sulu Sea', 'link': '/wiki/Sulu_Sea', 'area': '– 260000\xa0km', 'latitude': '8°N', 'longitude': '120°E'}, {'name': 'Cooperation Sea', 'link': '/wiki/Cooperation_Sea', 'area': '– 258000\xa0km', 'latitude': '65°00′S', 'longitude': '72°00′E'}, {'name': 'Persian Gulf', 'link': '/wiki/Persian_Gulf', 'area': '– 251000\xa0km', 'latitude': '26°N', 'longitude': '52°E'}, {'name': 'Flores Sea', 'link': '/wiki/Flores_Sea', 'area': '– 240000\xa0km', 'latitude': '8°S', 'longitude': '121°E'}, {'name': 'Gulf of Saint Lawrence', 'link': '/wiki/Gulf_of_Saint_Lawrence', 'area': '– 226000\xa0km', 'latitude': '48°36′N', 'longitude': '61°24′W'}, {'name': 'Bay of Biscay', 'link': '/wiki/Bay_of_Biscay', 'area': '– 223000\xa0km', 'latitude': '45°30′N', 'longitude': '04°24′W'}, {'name': 'Aegean Sea', 'link': '/wiki/Aegean_Sea', 'area': '– 214000\xa0km', 'latitude': '39°N', 'longitude': '25°E'}, {'name': 'Gulf of Anadyr', 'link': '/wiki/Gulf_of_Anadyr', 'area': '– 200000\xa0km', 'latitude': '64°00′N', 'longitude': '178°00′W'}, {'name': 'Molucca Sea', 'link': '/wiki/Molucca_Sea', 'area': '– 200000\xa0km', 'latitude': '0°25′S', 'longitude': '125°25′E'}, {'name': 'Oman Sea', 'link': '/wiki/Oman_Sea', 'area': '– 181000\xa0km', 'latitude': '25°N', 'longitude': '58°E'}, {'name': 'Ionian Sea', 'link': '/wiki/Ionian_Sea', 'area': '– 169000\xa0km', 'latitude': '38°N', 'longitude': '19°E'}, {'name': 'Gulf of California', 'link': '/wiki/Gulf_of_California', 'area': '– 160000\xa0km', 'latitude': '28°0′N', 'longitude': '112°0′W'}, {'name': 'Balearic Sea', 'link': '/wiki/Balearic_Sea', 'area': '– 150000\xa0km', 'latitude': '40°0′N', 'longitude': '1°30′E'}, {'name': 'Adriatic Sea', 'link': '/wiki/Adriatic_Sea', 'area': '– 138000\xa0km', 'latitude': '43°N', 'longitude': '15°E'}]

In [56]:
df_1 = pd.DataFrame(seas_list)
df_1

,name,link,area,latitude,longitude
0,Philippine Sea,/wiki/Philippine_Sea,– 5.695 million km,20°N,130°E
1,Coral Sea,/wiki/Coral_Sea,– 4.791 million km,18°S,158°E
2,American Mediterranean Sea,/wiki/American_Mediterranean_Sea,– 4.200 million km,18°N,80°W
3,Arabian Sea,/wiki/Arabian_Sea,– 3.862 million km,14°N,65°E
4,Sargasso Sea,/wiki/Sargasso_Sea,– 3.5 million km,28°N,66°W
...,...,...,...,...,...
71,Oman Sea,/wiki/Oman_Sea,– 181000 km,25°N,58°E
72,Ionian Sea,/wiki/Ionian_Sea,– 169000 km,38°N,19°E
73,Gulf of California,/wiki/Gulf_of_California,– 160000 km,28°0′N,112°0′W
74,Balearic Sea,/wiki/Balearic_Sea,– 150000 km,40°0′N,1°30′E
75,Adriatic Sea,/wiki/Adriatic_Sea,– 138000 km,43°N,15°E

In [57]:
df_1.to_excel('largest seas long lat.xlsx', index=False)

In [6]:
import pandas as pd

seas = pd.read_excel('largest seas long lat.xlsx')
seas

,name,link,area,latitude,longitude
0,Philippine Sea,/wiki/Philippine_Sea,– 5.695 million km,20°N,130°E
1,Coral Sea,/wiki/Coral_Sea,– 4.791 million km,18°S,158°E
2,American Mediterranean Sea,/wiki/American_Mediterranean_Sea,– 4.200 million km,18°N,80°W
3,Arabian Sea,/wiki/Arabian_Sea,– 3.862 million km,14°N,65°E
4,Sargasso Sea,/wiki/Sargasso_Sea,– 3.5 million km,28°N,66°W
...,...,...,...,...,...
75,Adriatic Sea,/wiki/Adriatic_Sea,– 138000 km,43°N,15°E
76,Sea of Azov,/wiki/Sea_of_Azov,39000 km,46°N,37°E
77,Amundsen Sea,/wiki/Amundsen_Sea,320000 km,73°S,112°W
78,Sea of Marmara,/wiki/Sea_of_Marmara,11500 km,40°40′N,28°00′E
79,Dead Sea,/wiki/Dead_Sea,605 km,31°30′N,35°30′E

In [7]:
seas['area'] = seas['area'].str.replace(' km', '')
seas

,name,link,area,latitude,longitude
0,Philippine Sea,/wiki/Philippine_Sea,– 5.695 million,20°N,130°E
1,Coral Sea,/wiki/Coral_Sea,– 4.791 million,18°S,158°E
2,American Mediterranean Sea,/wiki/American_Mediterranean_Sea,– 4.200 million,18°N,80°W
3,Arabian Sea,/wiki/Arabian_Sea,– 3.862 million,14°N,65°E
4,Sargasso Sea,/wiki/Sargasso_Sea,– 3.5 million,28°N,66°W
...,...,...,...,...,...
75,Adriatic Sea,/wiki/Adriatic_Sea,– 138000 km,43°N,15°E
76,Sea of Azov,/wiki/Sea_of_Azov,39000,46°N,37°E
77,Amundsen Sea,/wiki/Amundsen_Sea,320000,73°S,112°W
78,Sea of Marmara,/wiki/Sea_of_Marmara,11500,40°40′N,28°00′E
79,Dead Sea,/wiki/Dead_Sea,605,31°30′N,35°30′E

In [10]:
seas['area'] = seas['area'].str.replace('\xa0km', '')
seas

,name,link,area,latitude,longitude
0,Philippine Sea,/wiki/Philippine_Sea,5.695 million,20°N,130°E
1,Coral Sea,/wiki/Coral_Sea,4.791 million,18°S,158°E
2,American Mediterranean Sea,/wiki/American_Mediterranean_Sea,4.200 million,18°N,80°W
3,Arabian Sea,/wiki/Arabian_Sea,3.862 million,14°N,65°E
4,Sargasso Sea,/wiki/Sargasso_Sea,3.5 million,28°N,66°W
...,...,...,...,...,...
75,Adriatic Sea,/wiki/Adriatic_Sea,138000,43°N,15°E
76,Sea of Azov,/wiki/Sea_of_Azov,39000,46°N,37°E
77,Amundsen Sea,/wiki/Amundsen_Sea,320000,73°S,112°W
78,Sea of Marmara,/wiki/Sea_of_Marmara,11500,40°40′N,28°00′E
79,Dead Sea,/wiki/Dead_Sea,605,31°30′N,35°30′E

In [11]:
seas['area'] = seas['area'].str.replace('–', '')
seas

,name,link,area,latitude,longitude
0,Philippine Sea,/wiki/Philippine_Sea,5.695 million,20°N,130°E
1,Coral Sea,/wiki/Coral_Sea,4.791 million,18°S,158°E
2,American Mediterranean Sea,/wiki/American_Mediterranean_Sea,4.200 million,18°N,80°W
3,Arabian Sea,/wiki/Arabian_Sea,3.862 million,14°N,65°E
4,Sargasso Sea,/wiki/Sargasso_Sea,3.5 million,28°N,66°W
...,...,...,...,...,...
75,Adriatic Sea,/wiki/Adriatic_Sea,138000,43°N,15°E
76,Sea of Azov,/wiki/Sea_of_Azov,39000,46°N,37°E
77,Amundsen Sea,/wiki/Amundsen_Sea,320000,73°S,112°W
78,Sea of Marmara,/wiki/Sea_of_Marmara,11500,40°40′N,28°00′E
79,Dead Sea,/wiki/Dead_Sea,605,31°30′N,35°30′E

In [12]:
seas['area'] = seas['area'].apply(lambda x: int(float(x.replace(' million', '')) * 1000000) if 'million' in x else int(x))
seas

,name,link,area,latitude,longitude
0,Philippine Sea,/wiki/Philippine_Sea,5695000,20°N,130°E
1,Coral Sea,/wiki/Coral_Sea,4791000,18°S,158°E
2,American Mediterranean Sea,/wiki/American_Mediterranean_Sea,4200000,18°N,80°W
3,Arabian Sea,/wiki/Arabian_Sea,3862000,14°N,65°E
4,Sargasso Sea,/wiki/Sargasso_Sea,3500000,28°N,66°W
...,...,...,...,...,...
75,Adriatic Sea,/wiki/Adriatic_Sea,138000,43°N,15°E
76,Sea of Azov,/wiki/Sea_of_Azov,39000,46°N,37°E
77,Amundsen Sea,/wiki/Amundsen_Sea,320000,73°S,112°W
78,Sea of Marmara,/wiki/Sea_of_Marmara,11500,40°40′N,28°00′E
79,Dead Sea,/wiki/Dead_Sea,605,31°30′N,35°30′E

In [14]:
seas_sorted = seas.sort_values('area', ascending=False)
seas_sorted

,name,link,area,latitude,longitude
0,Philippine Sea,/wiki/Philippine_Sea,5695000,20°N,130°E
1,Coral Sea,/wiki/Coral_Sea,4791000,18°S,158°E
2,American Mediterranean Sea,/wiki/American_Mediterranean_Sea,4200000,18°N,80°W
3,Arabian Sea,/wiki/Arabian_Sea,3862000,14°N,65°E
4,Sargasso Sea,/wiki/Sargasso_Sea,3500000,28°N,66°W
...,...,...,...,...,...
74,Balearic Sea,/wiki/Balearic_Sea,150000,40°0′N,1°30′E
75,Adriatic Sea,/wiki/Adriatic_Sea,138000,43°N,15°E
76,Sea of Azov,/wiki/Sea_of_Azov,39000,46°N,37°E
78,Sea of Marmara,/wiki/Sea_of_Marmara,11500,40°40′N,28°00′E
79,Dead Sea,/wiki/Dead_Sea,605,31°30′N,35°30′E

In [18]:
seven_seas=seas_sorted.drop('link', axis=1)
seven_seas

                          name     area latitude longitude
0               Philippine Sea  5695000     20°N     130°E
1                    Coral Sea  4791000     18°S     158°E
2   American Mediterranean Sea  4200000     18°N      80°W
3                  Arabian Sea  3862000     14°N      65°E
4                 Sargasso Sea  3500000     28°N      66°W
..                         ...      ...      ...       ...
74                Balearic Sea   150000   40°0′N    1°30′E
75                Adriatic Sea   138000     43°N      15°E
76                 Sea of Azov    39000     46°N      37°E
78              Sea of Marmara    11500  40°40′N   28°00′E
79                    Dead Sea      605  31°30′N   35°30′E

[80 rows x 4 columns]

In [19]:
seven_seas.to_excel('seven seas.xlsx')

In [11]:
import pandas as pd
import re

df=pd.read_excel('seven seas.xlsx')
df

,Unnamed: 0.1,Unnamed: 0,name,area,latitude,longitude,type,lat
0,0,0,Philippine Sea,5695000,20°N,130°E,marginal,20.0
1,1,1,Coral Sea,4791000,18°S,158°E,marginal,-18.0
2,2,2,American Mediterranean Sea,4200000,18°N,80°W,marginal,18.0
3,3,3,Arabian Sea,3862000,14°N,65°E,marginal,14.0
4,4,4,Sargasso Sea,3500000,28°N,66°W,no land boundaries,28.0
...,...,...,...,...,...,...,...,...
75,75,74,Balearic Sea,150000,40°N,1°E,marginal,40.0
76,76,75,Adriatic Sea,138000,43°N,15°E,marginal,43.0
77,77,76,Sea of Azov,39000,46°N,37°E,inland marginal,46.0
78,78,78,Sea of Marmara,11500,40°N,28°E,inland marginal,40.0
79,79,79,Dead Sea,605,31°N,35°E,inland closed,31.0

In [12]:
def convert_latitude(val):
    if val.endswith('N'):
        return float(val[:-2])
    elif val.endswith('S'):
        return -1 * float(val[:-2])
    else:
        return None # or raise an exception if you want to handle invalid values

df['lat'] = df['latitude'].apply(convert_latitude)
df

,Unnamed: 0.1,Unnamed: 0,name,area,latitude,longitude,type,lat
0,0,0,Philippine Sea,5695000,20°N,130°E,marginal,20.0
1,1,1,Coral Sea,4791000,18°S,158°E,marginal,-18.0
2,2,2,American Mediterranean Sea,4200000,18°N,80°W,marginal,18.0
3,3,3,Arabian Sea,3862000,14°N,65°E,marginal,14.0
4,4,4,Sargasso Sea,3500000,28°N,66°W,no land boundaries,28.0
...,...,...,...,...,...,...,...,...
75,75,74,Balearic Sea,150000,40°N,1°E,marginal,40.0
76,76,75,Adriatic Sea,138000,43°N,15°E,marginal,43.0
77,77,76,Sea of Azov,39000,46°N,37°E,inland marginal,46.0
78,78,78,Sea of Marmara,11500,40°N,28°E,inland marginal,40.0
79,79,79,Dead Sea,605,31°N,35°E,inland closed,31.0

In [13]:
def convert_longitude(val):
    if val.endswith('E'):
        return float(val[:-2])
    elif val.endswith('W'):
        return -1 * float(val[:-2])
    else:
        return None # or raise an exception if you want to handle invalid values

In [14]:
df['lon'] = df['longitude'].apply(convert_longitude)
df

,Unnamed: 0.1,Unnamed: 0,name,area,latitude,longitude,type,lat,lon
0,0,0,Philippine Sea,5695000,20°N,130°E,marginal,20.0,130.0
1,1,1,Coral Sea,4791000,18°S,158°E,marginal,-18.0,158.0
2,2,2,American Mediterranean Sea,4200000,18°N,80°W,marginal,18.0,-80.0
3,3,3,Arabian Sea,3862000,14°N,65°E,marginal,14.0,65.0
4,4,4,Sargasso Sea,3500000,28°N,66°W,no land boundaries,28.0,-66.0
...,...,...,...,...,...,...,...,...,...
75,75,74,Balearic Sea,150000,40°N,1°E,marginal,40.0,1.0
76,76,75,Adriatic Sea,138000,43°N,15°E,marginal,43.0,15.0
77,77,76,Sea of Azov,39000,46°N,37°E,inland marginal,46.0,37.0
78,78,78,Sea of Marmara,11500,40°N,28°E,inland marginal,40.0,28.0
79,79,79,Dead Sea,605,31°N,35°E,inland closed,31.0,35.0

In [16]:
df = df.drop(['Unnamed: 0.1', 'Unnamed: 0'],  axis=1)

In [ ]:
df.to_csv('seven seas lat lon.csv', index=False, index_label=False)
df.to_excel('seven seas lat lon.xlsx', index=False, index_label=False)